body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #9dc2ed 0%, #75a0db 100%);
}

.container {
    background-color: #fff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 450px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

h2 {
    color: #555;
    font-size: 20px;
    margin-bottom: 15px;
}

.savings-tracker, .vacation-strategy {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    resize: vertical;
    height: 80px;
}

button {
    padding: 12px 24px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

button:hover {
    background-color: #218838;
}

.delete-button {
    background-color: hsl(311, 79%, 64%);
}

.delete-button:hover {
    background-color: hsl(311, 79%, 64%);
}

#strategyResults {
    margin-top: 20px;
    font-weight: bold;
    color: #333;
    font-size: 18px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #f8f9fa;
    color: #333;
}

td {
    background-color: #fff;
}